

.leftSide_container{
    padding: 0.5rem 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.left_icon_container{
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;

}

.left_icons{
    height: 2.8rem;
    width: 2.8rem;

}
.left_icon_container>span{
    
   font-size: 1.1rem;
   font-weight: 600;

}